@import '../../styles/Colors.scss';

.drop-down-container {
  height: 45.5px;
  width: 310px;
  cursor: pointer;
  border-bottom: 2px solid #246E94;
  padding-right: 21px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.drop-down-text-field {
  height: 21px;	
  width: 290px;	
  color: #184962;	
  font-family: Roboto;	
  font-size: 14px;	
  line-height: 20px;
}

.drop-down-open-and-close-button {
  width: 10px; 
  transition-duration: 0.3s;
  position: absolute;
  right: 1px;
}

.drop-down-close-button {
  transform: rotate(180deg);	
}

.drop-down-options-container {
  position: absolute;
  top: 47px;
  left: 0px;
  color: #184962;
  width: 316px;
  background-color: white;
  z-index: 1;
}

.drop-down-value {
  border-bottom: 0.5px solid #246E94;
  padding: 10px;
}

.drop-down-value:hover {
  background-color: #184962;
  color: white;
}