@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 128px 32px;
}

.pagination-number {
  padding: 14px 18px;
  color: $green;
  font-weight: bold;
  cursor: pointer;
}