@import '../../styles/Colors';
@import '../../styles/Breakpoints';

// #blog-box__table {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 32px;
//   @media only screen and (max-width: $tabletBig) {
//     display: inline-block;
//     margin-bottom: 0;
//   }
//   & .blog-box__box {
//     display: table-cell;
//     width: 32%;
//     @media only screen and (max-width: $tabletBig) {
//       width: 100%;
//       display: inline-block;
//     }
//   }
// }
  
.blog-box {
  &__wrapper {
    padding: 128px 0;
    @media only screen and (max-width: $tabletBig) {
      padding: 64px 0;
    }
    @media only screen and (max-width: $mobile) {
      padding: 0;
    }
  }

  &__headline, &__headline-overview {
    color: $darkBlue;
    text-align: center;
    padding: 64px 0;
    font-weight: 300;
  }
  
  &__headline {
    font-size: 24px;
    line-height: 30px;
  }
  
  &__headline-overview {
    font-size: 48px;
    line-height: 57px;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media only screen and (max-width: $tabletBig) {
      flex-direction: column;
    }
  }
  
  
  &__box {
    padding-bottom: 12px;
    background-color: $grey;
    display: flex;
    flex: 1 1 300px;
    position: relative;
    flex-direction: column;
    max-width: 500px;
    margin-bottom: 12px;
    &:nth-child(2) {
      margin: 0 12px;
      margin-bottom: 12px;
    }
    @media only screen and (max-width: $tabletBig) {
      &:nth-child(2) {
        margin: 0;
      }
      max-width: 100%;
      margin-bottom: 0px;
    }
    &-content {
      cursor: pointer;
      padding: 24px 32px;
      overflow: hidden;
      text-decoration: none;
      color: $darkBlue;
      line-height: 27px;
      font-size: 18px;
      @media only screen and (max-width: $tabletBig) {
        line-height: 24px;
        font-size: 16px;
        display: inline-block;
      }
      &-headline {
        font-weight: bold;
      }
      &-info {
        font-size: 12px;
        line-height: 32px;
        letter-spacing: 3.3px;
      }
      &-text {
        margin-bottom: 24px;
      }
    }
  }
  
  &-info-link {
    position: absolute;
    bottom: 32px;
    right: 0;
    display: flex;
    align-items: center;
    color: $backButton;
    padding-right: 32px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
  }
  
  &__box-image-container {
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 220px;
    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
  
  &-button {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $mobile) {
      margin: 32px 24px;
    }
  }
}

img.blog-box__box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}