@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.boxblog-wrapper {
  display: flex;
  flex-direction: column;
}
  
.boxblog-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media only screen and (max-width: $tabletBig) {
    flex-direction: column;
  }
}

.boxblog-headline {
  margin: 64px 0;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: center;
  color: $darkBlue;
}

.boxblog-headline-intro {
  margin: 128px 0 64px 0;
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
  text-align: center;
  color: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    margin: 32px 0;
    font-size: 36px;
    line-height: 43px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 24px;
    line-height: 28px;
  }
}

.blogbox-post-wrapper {
  max-width: 33vw;
  background-color: $lightGrey;
  @media only screen and (max-width: $tabletBig) {
    min-width: 100%;
  }
}

.blogbox-button {
  margin: 64px 0 128px 0;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $mobile) {
    margin: 32px 24px;
  }
}