@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.tilesimple-container-dark-right {
  background: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    background: $darkBlue;
  };
}

.tilesimple-container-light-right {
  background: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    background: $darkBlue;
  };
}

.tilesimple-container-dark-left {
  background: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    background: $darkBlue;
  };
}

.tilesimple-container-light-left {
  background: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    background: $darkBlue;
  };
}

.tilesimple-icon-wrapper-left {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $tabletBig) {
    background-color: $darkBlue;
  }
}

.tilesimple-icon-wrapper-right {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $tabletBig) {
    background-color: $darkBlue;
  }
}

img.tilesimple-icon-style-right {
  max-height: 320px;
  height: fit-content;
  @media only screen and (max-width: $tabletBig) {
    max-height: 285px;
    margin: 64px 0px;
    width: 100%;
  };
  @media only screen and (max-width: $mobile) {
    max-height: 170px;
    margin: 32px 0px;
  };
}

img.tilesimple-icon-style-left {
  max-height: 320px;
  height: fit-content;
  @media only screen and (max-width: $tabletBig) {
    max-height: 285px;
    margin: 64px 0px;
    width: 100%;
  };
  @media only screen and (max-width: $mobile) {
    max-height: 170px;
    margin: 32px 0px;
  };
}

.tilesimple-content-wrapper-left {
  @media only screen and (max-width: $tabletBig) {
    padding: 32px 155px 64px 155px;
    text-align: center;
  };
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  };
}

.tilesimple-content-wrapper-right {
  text-align: right;
  @media only screen and (max-width: $tabletBig) {
    padding: 32px 155px 64px 155px;
    text-align: center;
  };
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  };
}

.tilesimple-headline {
  color: $white;
  margin-bottom: 32px;
  margin-top: 0px;
  @media only screen and (max-width: $mobile) {
    font-size: 24px;
  };
}

.tilesimple-text {
  color: $white;
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
  };
}

.tile-row {
  padding-top: 80px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
}