@import '../../../styles/Colors';
@import '../../../styles/Breakpoints';

.tilesimple-wrapper-dark {
  background: $primary;
}

.tilesimple-wrapper-light {
  background: $secondary-light;
}

.tilesimple-wrapper-white {
  background: $white;
}

.tilesimple-icon-wrapper-left {
  display: flex;
  justify-content: center;
}

.tilesimple-icon-wrapper-right {
  display: flex;
  justify-content: center;
}

img.tilesimple-icon-style-left {
  max-height: 320px;
  height: fit-content;
  @media only screen and (max-width: $tabletBig) {
    max-height: 285px;
    margin: 64px 0px;
    width: 100%;
  };
  @media only screen and (max-width: $mobile) {
    max-height: 170px;
    margin: 32px 0px;
  };
}

img.tilesimple-icon-style-right {
  max-height: 320px;
  height: fit-content;
  @media only screen and (max-width: $tabletBig) {
    max-height: 285px;
    margin: 64px 0px;
    width: 100%;
  };
  @media only screen and (max-width: $mobile) {
    max-height: 170px;
    margin: 32px 0px;
  };
}

.tilesimple-content-wrapper-left {
  @media only screen and (max-width: $tabletBig) {
    text-align: center;
  };
  @media only screen and (max-width: $mobile) {
    padding: 32px 0px;
  };
}

.tilesimple-content-wrapper-right {
  @media only screen and (max-width: $tabletBig) {
    text-align: center;
  };
  @media only screen and (max-width: $mobile) {
    padding: 32px 0px;
  };
}

.tilesimple-text-dark {
  color: $white;
}

.tilesimple-text-light {
  color: $primary;
}

.tilesimple-text-white {
  color: $primary;
}

.tilesimple-headline {
  margin-bottom: 32px;
  margin-top: 0px;
}

.tilesimple-text {
  font-size: 18px;
  line-height: 27px;
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 24px;
  };
}

.tile-row {
  padding-top: 80px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;

  @media only screen and (max-width: $mobile) {
    font-size: 24px;
    line-height: 28px;
  };
}

