@import '../../styles/Colors.scss';
@import '../../styles/Breakpoints';

.arrow-button-default-container {
  height: 48px;	
  min-width: 180px;
  border-radius: 3px;
  background-color: $navyBlue;
  // box-shadow: 0 20px 40px 0 rgba(90,90,90,0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 14px 20px;
  cursor: pointer;
  &:hover {
    background-color: $navyBlueHover;
    transition: background-color 0.3s linear;
  };
  &:active {
    background-color: $navyBlueActive;
  }
  @media only screen and (max-width: $xl) {
    width: 100%;
  };
}

.arrow-button-default-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: $white;
}