@import '../../styles/Colors.scss';
@import '../../styles/Breakpoints';

.button-sand-container {
  height: 48px;
  min-width: 180px;
  width: 100%;
  border-radius: 3px;
  background-color: $announcementHighlight;
  color: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 14px 20px;
  cursor: pointer;
  &:focus {
    background-color: $announcementHighlight !important;
  };
  &:hover {
    background-color: $announcementHighlight !important;
  };
  &:active {
    background-color: $announcementHighlight !important;
  }
  @media only screen and (max-width: $xl) {
    width: 100%;
  };
}

.button-sand-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text: $darkBlue !important;
}