@import '../../styles/Colors.scss';
@import '../../styles/Breakpoints';

.arrow-link-default-container {
  height: 48px;	
  min-width: 180px;
  max-width: 100%;
  border-radius: 3px;
  background-color: $navyBlue;
  // box-shadow: 0 20px 40px 0 rgba(90,90,90,0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 14px 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $navyBlueHover;
  };
  &:active {
    background-color: $navyBlueActive;
  }
  @media only screen and (max-width: $mobile) {
    width: 100%;
  };
}

.arrow-link-default-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  margin-right: 16px;
  color: $white;
}

.arrow-link-arrow-style {
  width: 18px;
}