@import '../../styles/Colors.scss';

.blogtitle-container, .blogtitle-subtext-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  background-color: $navyBlue;
}

.blogtitle-subtext-container {
  padding-bottom: 32px;
  @media only screen and (max-width: 900px) {
    padding: 32px 32px 0px 32px;
    background-color: $white;
    color: $navyBlue;
  };
  @media only screen and (max-width: 600px) {
    padding: 16px 24px 0px 24px;
  };
}

.blogtitle-wrapper {
  margin-top: 50px;
  max-width: 1180px;
  padding: 32px 20px 0px 20px;
  @media only screen and (max-width: 900px) {
    margin: 24px 32px 48px 32px;
  };
  @media only screen and (max-width: 600px) {
    margin: 50px 24px;
    padding: 0;
  };
}

.blogtitle-text {
  text-transform: uppercase;
  text-align: center;
  max-width: 1180px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 2px;
  font-weight: 500;
  color: $turkis;
  margin-bottom: 32px;
  @media only screen and (max-width: 900px) {
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 1.4px;
  };
  @media only screen and (max-width: 600px) {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
  };
}

.blogtitle-sub-text {
  text-transform: uppercase;
  margin: 0px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 3.3px;
  text-align: center;
  color: $white;
  @media only screen and (max-width: 900px) {
    // background-color: $white;
    color: $navyBlue;
  };
}