@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.hero-landing__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $darkBlue;
  width: 100%;
  height: calc(100vh - 115px);
  max-height: 900px;
  background-image: url('../../images/hero-static.svg'), url('../../images/hero-background.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat,
  no-repeat;
  @media only screen and (max-width: $mobile) {
    background-image: url('../../images/hero-animation-mobile.svg'), url('../../images/hero-background.svg');
    height: calc(100vh - 70px);
  }
}

.hero-landing__content-container {
  color: $white;
  padding: 0 24px;
  max-width: 500px;
  @media only screen and (max-width: $tabletBig) {
    max-width: 300px;
  }
  @media only screen and (max-width: $tabletBig) {
    height: calc(100vh - 70px);
    max-width: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  &-headline {
    text-transform: uppercase;
  	font-size: 60px;
  	font-weight: 500;
  	letter-spacing: 2px;
    line-height: 72px;
    margin-bottom: 16px;
    margin-top: 0px;
    @media only screen and (max-width: $tabletBig) {
      font-size: 30px;
    	letter-spacing: 1px;
    	line-height: 36px;
    }
  }
  &-text {
    font-size: 18px;
    line-height: 27px;
    @media only screen and (max-width: $tabletBig) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}