@import '../../styles/Colors.scss';

.lang-picker-dropdown {
  margin-top: 12px;
  @media only screen and (max-width: 450px) {
    padding-bottom: 8px;
  }
}

.lang-picker-dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $navyBlue;
  color: $white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: $white;
  font-weight: bold;
  padding: 11px;
  cursor: pointer;
  &:hover {
    background-color: $navyBlueHover;
  };
  @media only screen and (min-width: 1000px) {
    width: 150px;
  }
}

.lang-picker-header-closed {
  border-radius: 3px;
}

.lang-picker-header-open {
  border-radius: 3px 3px 0 0;
}

.lang-picker-open-and-close-button {
  width: 10px; 
  transition-duration: 0.3s;
}

.lang-picker-close-button {
  transform: rotate(180deg);
}

.lang-picker-dropdown-list {
  transition: 0.3s ease-in-out;
  background-color: $white;
  color: $darkBlue;
  padding: 10px;
  border-radius: 0 0 3px 3px;
    @media only screen and (min-width: 1000px) {
    width: 150px;
  }
}

.lang-picker-dropdown-list-element {
  cursor: pointer;
  padding-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}