  $navyBlue: #246E94;
  $navyBlueHover: #1E5B7A;
  $navyBlueActive: #184962;
  $turkis: #00FCE5;
  $turkisHover: #00E3CE;
  $turkisActive: #00C9B7;
  $green: #007D71;
  $darkBlue: #184962;
  $darkGrey: #63737E;
  $grey: #E8ECED;
  $lightGrey: #F5F7F7;
  $communityEdition: #00E3CE;
  $enterpriseEdition: #00C9B7;
  $complianceEdition: #00B0A0;
  $editionText: #0A635B;
  $white: #FFF;
  $buttonGhost: #0A635B;
  $textLoud: #184962;
  $buttonGreen: #009688;
  $borderColor: #CCCCCC;