$white: #FFF;
$black: #000;

$primary: #184962;
$primary-light: #478EB3;
$primary-dark: #184962;

$secondary: #02F0DD;
$secondary-light: #B0F8F2;
$secondary-dark: #00B7A8;

$lightGrey: #E8ECED;
$darkGrey: #63737E;
$navyBlue: #246E94;
$darkBlueNav: #133346;