$navyBlue: #246E94;
$darkBlue: #184962;
$navyBlueHover: #1E5B7A;
$navyBlueActive: #184962;
$turkis: #00FCE5;
$turkisHover: #00E3CE;
$turkisActive: #00C9B7;
$green: #007D71;
$darkGrey: #63737E;
$grey: #E8ECED;
$lightGrey: #F5F7F7;
$communityEdition: #00C9B7;
$enterpriseEdition: #009688;
$complianceEdition: #007D71;
$editionText: #0A635B;
$white: #FFF;
$buttonGhost: #0A635B;
$textLoud: #184962;
$buttonGreen: #009688;
$borderColor: #CCCCCC;
$borderGrey: #E0E0E0;
$backButton: #08998B;
