@use '../../styles/Colors' as *;
@use '../../styles/Breakpoints' as *;
@use '../../index.scss' as *;

.title-wrapper-style {
  background-color: $white;
  padding: 64px 32px;
  @media only screen and (max-width: $tabletBig) {
    padding-bottom: 32px;
  };
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  };

  &-heise {
    @extend .title-wrapper-style;
    background-color: $white;
  }
}

.title-headline-style {
  color: $primary;
  text-align: center;
  padding: 40px 20px 0px 20px;
  margin-top: 40px;
  @media only screen and (max-width: $tabletBig) {
    padding: 0px 0px 0px 0px;
    margin-top: 15px;
  };
  @media only screen and (max-width: $mobile) {
    padding: 0px 0px 0px 0px;
    margin-top: 15px;
  };

  &-heise {
    @extend .title-headline-style;
    background-color: $primary-light;
    color: white;
  }

}

.title-headline-style-flx {
  @extend .title-headline-style;
  text-align: left;
  text-transform: none;
}

.title-text-style {
  // this is an h2 but we want the body font type
  font-family: "Inter-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: $primary;
  padding: 0px 18px;
  text-align: center;
  text-transform: none;
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 25px;
    padding: 0px 18px;
  };

  &-heise {
    @extend .title-text-style;
    background-color: $primary-light;
    color: white;
  }
}

.title-text-style-flx {
  @extend .title-text-style;
  text-align: left;
}

.title-button-wrapper {
  margin-top: 50px;
   @media only screen and (max-width: $mobile) {
    margin-top: 20px;
  };
}


.title-breadcrumb-item {
  color: $primary-dark;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.8px;
  padding: 0px 5px;
  text-align: center;
  @media only screen and (max-width: $mobile) {
    letter-spacing: 0.67px;
    font-size: 11px;
    line-height: 12px;
  };
}