@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.title-wrapper-style {
  background-color: $navyBlue;
  padding: 64px 32px;
  @media only screen and (max-width: $tabletBig) {
    padding-bottom: 32px;
  };
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  };

  &-heise {
    @extend .title-wrapper-style;
    background-color: $navyBlue;
  }

}

.title-headline-style {
  color: $turkis;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  padding: 0px 20px 0px 20px;
  letter-spacing: 2px;
  margin-top: 20px;
  @media only screen and (max-width: $tabletBig) {
    padding: 0px 0px 0px 0px;
    font-size: 42px;
    letter-spacing: 1.4px;
    line-height: 49px;
    margin-top: 15px;
  };
  @media only screen and (max-width: $mobile) {
    padding: 0px 0px 0px 0px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
    margin-top: 15px;
  };

  &-heise {
    @extend .title-headline-style;
    background-color: $navyBlue;
    color: white;
  }

}

.title-headline-style-flx {
  @extend .title-headline-style;
  color: $flxText;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 2px;
}

.title-text-style {
  font-family: "Inter-Regular"; // this is an h2 but we want the body font type
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.8px;
  color: $white;
  padding: 0px 18px;
  text-align: center;
  text-transform: none;
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 25px;
    padding: 0px 18px;
  };

  &-heise {
    @extend .title-text-style;
    background-color: $navyBlue;
    color: white;
  }
}

.title-text-style-flx {
  @extend .title-text-style;
  text-align: left;
}

.title-button-wrapper {
  margin-top: 50px;
   @media only screen and (max-width: $mobile) {
    margin-top: 20px;
  };
}


.title-breadcrumb-item {
  color: $turkis;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.8px;
  padding: 0px 5px;
  text-align: center;
  @media only screen and (max-width: $mobile) {
    letter-spacing: 0.67px;
    font-size: 11px;
    line-height: 12px;
  };
}

.breadcrumblist {
  margin-bottom: 10px;
}
