@import '../../styles/Colors.scss';

.cta-container {
  padding: 96px 0px;
  background: linear-gradient(40deg, $darkBlue 33%, $navyBlue 33%);
  @media only screen and (max-width: 1100px) {
    background: linear-gradient(66deg, $darkBlue 25%, $navyBlue 25%);
    padding: 64px 0px;
  };
  @media only screen and (max-width: 600px) {
    background: linear-gradient(165deg, $darkBlue 27.5%, $navyBlue 27.5%);
    padding: 32px 0px 32px 0px;
  };
}

.cta-image-wrapper {
  height: 292px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 600px) {
    height: unset;
  };
}

.row.cta-row-wrapper {
  margin-bottom: 0px;
}

.cta-row {
  @media only screen and (max-width: 1100px) {
    margin: 0px;
  };
  @media only screen and (max-width: 600px) {
    margin-buttom: 32px;
    width: 100%;
  };
}

.cta-image-container {
  background: url('../../images/cta-tablet.svg') no-repeat;
  background-size: cover;
  width: 25vw;
  height: 25vw;
  max-width: 360px;
  max-height: 360px;
  @media only screen and (max-width: 1100px) {
    margin-left: auto;
    margin-right: auto;
  };
  @media only screen and (max-width: 600px) {
    margin-bottom: 8px;
  };  
}

.cta-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center; 
  @media only screen and (max-width: 450px) {
    justify-content: space-between;
  }
}

.cta-headline {
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
  color: $white;
  margin-bottom: 32px;
  @media only screen and (max-width: 1100px) {
    font-size: 36px;
    line-height: 43px;
  };
  @media only screen and (max-width: 600px) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
    margin-top: 24px;
  }
}

.cta-text {
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  letter-spacing: 0.8px;
  color: $white;
  margin-bottom: 64px;
  @media only screen and (max-width: 600px) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    margin-bottom: 32px;
  }
}