@import '../../styles/Colors.scss';
@import '../../styles/Breakpoints';

.cta-container {
  padding-top: 160px;
  padding-bottom: 160px;
  background: $white;
  @media only screen and (max-width: $tabletBig) {
    padding: 64px 0px;
  };
  @media only screen and (max-width: $mobile) {
    padding: 32px 0px 32px 0px;
  };
}

.row.cta-row-wrapper {
  margin-bottom: 0px;
}

.cta-row {
  @media only screen and (max-width: $tabletBig) {
    margin: 0px;
  };
  @media only screen and (max-width: $mobile) {
    margin-buttom: 32px;
    width: 100%;
  };
}

.cta-image-container {
  background-size: cover;
  width: 25vw;
  height: 25vw;
  max-width: 360px;
  max-height: 360px;
  @media only screen and (max-width: $tabletBig) {
    margin-left: auto;
    margin-right: auto;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 8px;
  };  
}

.cta-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center; 
  @media only screen and (max-width: 450px) {
    justify-content: space-between;
  }
}

.cta-headline {
  color: $primary;
  margin-bottom: 32px;
  margin-top: 0px; 
  @media only screen and (max-width: $tabletBig) {
    // font-size: 36px;
    // line-height: 43px;
  };
  @media only screen and (max-width: $mobile) {
    // font-size: 24px;
    // line-height: 28px;
    margin-bottom: 8px;
    margin-top: 24px;
  }
}

.cta-text {
  text-align: center;
  color: $black;
  margin-bottom: 64px;
  @media only screen and (max-width: $mobile) {
    // font-size: 16px;
    // line-height: 24px;
    letter-spacing: normal;
    margin-bottom: 32px;
  }
}