@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.card__wrapper-blue-to-grey-bg {
  display: flex;
  padding: 130px 0;
  background-image: linear-gradient(90deg, $navyBlue 0%, $navyBlue 50%, $grey 50%);
  @media only screen and (max-width: $tabletBig) {
    background-image: none;
    padding: 0;
  }
}

.card__wrapper-grey-to-blue-bg {
  display: flex;
  padding: 130px 0;
  background-image: linear-gradient(90deg, $grey 0%, $grey 50%, $navyBlue 50%);
  @media only screen and (max-width: $tabletBig) {
    background-image: none;
    padding: 0;
  }
}

.card__row {
  max-width: 1180px;
  display: flex;
  margin: 0 auto;
  @media only screen and (max-width: $tabletBig) {
    flex-direction: column;
    width: 100%;
  }
}

.card__col-left {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 130px;
  padding-left: 32px;
  color: $white;
  text-align: right;
  @media only screen and (max-width: $tabletBig) {
    background-color: $navyBlue;
    width: 100%;
    padding: 32px 24px 70px 24px;
    align-items: center;
    text-align: center;
  }
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  }
}

.card__col-right {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 130px;
  padding-right: 32px;
  color: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    background-color: $grey;
    align-items: center;
    width: 100%;
    padding: 32px 24px 70px 24px;
    text-align: center;
  }
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  }
}

.card__col {
  display: flex;
  @media only screen and (max-width: $tabletBig) {
    width: 100%;
  }
  &-img {
    margin-bottom: 32px;
    @media only screen and (max-width: $mobile) {
      margin-bottom: 16px;
      height: 64px;
    }
  }
  &-content {
    margin-bottom: 64px;
    @media only screen and (max-width: $tabletBig) {
      margin-bottom: 32px;
    }
    &__headline {
      font-size: 48px;
      font-weight: 300;
      line-height: 57px;
      margin-bottom: 32px;
      @media only screen and (max-width: $tabletBig) {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 16px;
      }
      @media only screen and (max-width: $mobile) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 27px;
      @media only screen and (max-width: $tabletBig) {
        font-size: 18px;
        line-height: 24px;
      }
      @media only screen and (max-width: $mobile) {
        font-size: 16px;
      }
    }
  }
  &-button {
    margin-top: auto;
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }
}

.headline-left-dark, .text-left-dark {
  color: $white;
}

.headline-right-dark {
  color: $darkBlue;
}
.text-right-dark {
  color: $darkGrey;
}

.headline-left-light {
  color: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    color: $white;
  }
}

.text-left-light {
  color: $darkGrey;
  @media only screen and (max-width: $tabletBig) {
    color: $white;
  }
}

.headline-right-light {
  color: $white;
  @media only screen and (max-width: $tabletBig) {
    color: $darkBlue;
  }
}

.text-right-light {
  color: $white;
  @media only screen and (max-width: $tabletBig) {
    color: $darkGrey;
  }
}