@import '../../styles/Colors';
@import '../../styles/Breakpoints';


.card__title {
  text-align: center;
  padding-bottom: 72px;
} 

.card__wrapper-dark, .card__wrapper-light {
  padding-top: 96px;
  padding-bottom: 104px;
  // @media only screen and (max-width: $tabletBig) {
  //   padding: 0;
  // }
}

.card__wrapper-dark {
  background-color: $darkBlue;
}

.card__wrapper-light {
  background-color: $white;
}

.card__row {
  max-width: 1180px;
  display: flex;
  margin: 0 auto;
  @media only screen and (max-width: $tabletBig) {
    flex-direction: column;
    width: 100%;
  }
}

.card__col-left {
  width: 50%;
  padding-right: 130px;
  padding-left: 32px;
  @media only screen and (max-width: $tabletBig) {
    width: 100%;
    padding: 32px 24px 70px 24px;
    align-items: center;
    text-align: center;
  }
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  }
}

.card__col-right {
  width: 50%;
  padding-left: 130px;
  padding-right: 32px;
  @media only screen and (max-width: $tabletBig) {
    align-items: center;
    width: 100%;
    padding: 32px 24px 70px 24px;
  }
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  }
}

.card__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media only screen and (max-width: $tabletBig) {
    width: 100%;
  }
  &-img {
    margin-bottom: 32px;
    @media only screen and (max-width: $mobile) {
      margin-bottom: 16px;
      height: 64px;
    }
  }
  &-content {
    margin-bottom: 64px;
    @media only screen and (max-width: $tabletBig) {
      margin-bottom: 32px;
    }
    &__headline {
      text-align: center;
      margin-bottom: 32px;
      @media only screen and (max-width: $tabletBig) {
        margin-bottom: 16px;
      }
      @media only screen and (max-width: $mobile) {
        margin-bottom: 8px;
      }
    }
    &__text {
      text-align: center;
    }
  }
  &-button {
    margin-top: auto;
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }
}

.headline-on-dark-bg, .text-on-dark-bg, .title-on-dark-bg {
  color: $white;
}

.headline-on-light-bg, .text-on-light-bg, .title-on-light-bg {
  color: $darkBlue;
}
