@use '../../styles/Colors' as *;
@use '../../styles/Breakpoints' as *;

.code-highlight {
  position: relative;
}

.code-highlight .copy-code {
  font-size: 12px;
  cursor: pointer;
  top: 0;
  right: 0;
  font-weight: 400;
  position: absolute;
  border: 1px solid #dae0e7;
  padding: 8px 8px;
  border-radius: 0 3px;
  color: black;
  background-color: #f6f7f8;
  transition: color .25s ease;
}

.code-highlight .copy-code:before {
  content: '\e14d';
  font-family: Material Icons;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

.blogpostarticle-code-block {
  background-color: $lightGrey;
  font-family: Courier;
  font-size: 16px;
  line-height: 19px;
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 12px;
  word-break: break-all;
  overflow: scroll;
  margin-top: 24px;
  margin-bottom: 24px;

}

.blogpostarticle-code-inline {
  background-color: $lightGrey;
  font-family: Courier;
}