@import '../../styles/Colors.scss';
@import '../../styles/Breakpoints';

#email-input, #search {
  color: $navyBlueActive;
}

input#email, input#search {
  padding: 0px;
  border-bottom: 2px solid $lightAqua !important;
  @media only screen and (max-width: $mobile) {
    margin-bottom: 22px;
  };
}

input.invalid[type=email]:not(.browser-default),
input[type=email]:not(.browser-default):focus:not([readonly]),
input.valid[type=email]:not(.browser-default) {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

div.input-field.col {
  padding: 0px 21px 0px 0px;
  @media only screen and (max-width: $mobile) {
    padding: 0px; 
  };
}

.input-field.col label {
  left: 0px;
}

.input-field input:focus + label {
  color: $lightAqua !important;
}

.input-field {
  color: $lightAqua !important;
}

.text-processing {
  color: $announcementHighlight !important;
}

// styling for the Sendgrid Widget signup form

// .sendgrid-subscription-widget input {
//    padding: .5em .5em .55em;
//    font-size: .8em;
//    font-family: sans-serif
//  }
//
// .sendgrid-subscription-widget .sg_signup_first_name, .sendgrid-subscription-widget .sg_signup_last_name {
//   margin-right: .5em
// }
//
// .sendgrid-subscription-widget .sg-submit-btn {
//   display: inline-block;
//   color: #444;
//   border: 1px solid #ccc;
//   background: #ddd;
//   box-shadow: 0 0 5px -1px rgba(0, 0, 0, .2);
//   cursor: pointer;
//   vertical-align: middle;
//   max-width: 100px;
//   padding: .5em;
//   margin: 0 .4em;
//   text-align: center;
//   font-size: .9em;
//   font-family: sans-serif
// }
//
// .sendgrid-subscription-widget .sg-submit-btn:active {
//   color: #8e8b8b;
//   box-shadow: 0 0 5px -1px rgba(0, 0, 0, .6)
// }
//
//.sendgrid-subscription-widget .response {
//  display: none;
//  font-family: sans-serif;
//  font-size: .8em
//}
//
.sendgrid-subscription-widget .success {
  color: $textLoud;
}

.sendgrid-subscription-widget .error, .sendgrid-subscription-widget .sg-consent-text a {
  color: red;
}

.sendgrid-subscription-widget .sg-response {
  font-size: 18px;
  line-height: 27px;
  padding-top: 4px;
  margin-bottom: 32px;
  @media only screen and (max-width: $tabletBig) and (min-width: $mobile) {
    padding-top: 8px;
    margin-bottom: 12px;
  };
}

//
// .sendgrid-subscription-widget .sg-consent-text {
//   font-size: .9em
// }
//
// .sendgrid-subscription-widget .sg-consent-text label {
//   font-weight: 400
// }
//
// .sendgrid-subscription-widget .required {
//   outline: 1px solid #f00;
// }
//
// .sendgrid-subscription-widget .sg_custom {
//   margin-left: 5px;
// }
//
// .sendgrid-subscription-widget .checkbox_label {
//   padding-left: 3px;
// }
