@import '../../styles/Colors.scss';

#email-input {
  color: $navyBlueActive;
}

input#email {
  padding: 0px;
  border-bottom: 2px solid $navyBlue;
  @media only screen and (max-width: 600px) {
    margin-bottom: 22px;
  };
}

div.input-field.col {
  padding: 0px 21px 0px 0px;
  @media only screen and (max-width: 600px) {
    padding: 0px; 
  };
}