@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.product-anchor-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 34px 32px;
  @media only screen and (max-width: $tabletBig) {
    display: none;
  };
}

.product-anchor-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $green;
  a {
    scroll-behavior: smooth;
  }
}

.product-anchor-img {
  margin-right: 8px;
}

.certified-wrapper {
  padding: 128px 0px;
  background-color: $lightGrey;
  @media only screen and (max-width: $tabletBig) {
    padding: 64px 0px;
  };
}

.certified-headline {
  margin-bottom: 64px;
  font-size: 48px;
  line-height:57px;
  font-weight: 300;
  text-align: center;
  color: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    font-size: 36px;
    line-height:43px;
  };
  @media only screen and (max-width: $mobile) {
    font-size: 24px;
    line-height:28px;
    margin-bottom: 32px;
  };
}

.certified-col-img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  width: 280px;
  height: 280px;
  border-radius: 140px;
  @media only screen and (max-width: $tabletBig) {
    background-color: unset;
    height: unset;
    width: unset;
  };
}

.certified-col-headline {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height:30px;
  letter-spacing: 0.8px;
  text-align: center;
  color: $darkBlue;
  @media only screen and (max-width: $tabletBig) {
    margin-top: 16px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 8px;
    font-size: 20px;
    letter-spacing: 0.67px;
  };
}

.certified-col-text {
  font-size: 18px;
  line-height:27px;
  text-align: center;
  color: $darkGrey;
  @media only screen and (max-width: $tabletBig) {
    margin: 0px 16px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 212px;
    font-size: 16px;
    line-height:24px;
  }
}