@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.licensing-table-wrapper {
  margin-bottom: 127px;
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 0px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 48px;
  };
}

.licensing-table-head thead, .licensing-table-body tbody {
  padding: 0px 32px;
}

.licensing-table-head th {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 32px;
  color: $darkBlue;
  letter-spacing: 3.3px;
}

.licensing-table-body td {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: $darkGrey;
}

td .licensing-checkmark {
  text-align: center;
}

.licensing-table-left {
  text-align: left;
  padding-left: 32px;
}

.licensing-table-subheadline {
  text-transform: uppercase;
  padding: 0px 32px;
  width: 100%;
  background-color: $grey;
  color: $darkBlue;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 3.3px;
  text-align: left;
}

.licensing-overview-headline {
  @media only screen and (max-width: $tabletBig) {
    margin: 0px 10.5px 32px 10.5px;
    color: $darkBlue;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.8px;
  };
  @media only screen and (max-width: $mobile) {
    margin: 48px 10.5px 16px 10.5px;
    color: $darkBlue;
    font-size: 20px;
    letter-spacing: 0.67px;
    text-align: center;
  };
}

.licensing-overview-content {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 32px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 0px;
  };
}

.licensing-overview-content-box {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 32px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 16px;
  };
}

.licensing-overview-content-headline {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 4px;
    text-transform: uppercase;
    color: $darkBlue;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 3.3px;
  };
}

.licensing-overview-content-text {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 4px;
    color: $darkGrey;
    font-size: 14px;
    line-height: 20px;
  };
}