@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.landing-ups-wrapper {
  padding: 128px 0px;
  background-color: $lightGrey;
  @media only screen and (max-width: $tabletBig) {
    padding: 64px 0px;
  }
}

.landing-usp-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}

.landing-usp-box img {
  height: 280px;
  @media only screen and (max-width: $tabletBig) {
    height: 180px;
  }
}

.landing-usp-text-box-headline {
  margin-top: 32px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.8px;
  font-weight: 300;
  color: $darkBlue;
  @media only screen and (max-width: $mobile) {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.67px;
  }
}
  
  .landing-usp-text-box-text {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    color: $darkGrey;
    @media only screen and (max-width: $mobile) {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.67px;
    }
}