@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.cow-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0 24px;
}

.cow-warning {
  color: $turkisHover;
  font-size: 120px;
  line-height: 140px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 32px;

  @media only screen and (max-width: $tabletBig) {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 2px;
  }
}

.cow-headline {
  color: $darkBlue;
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
  margin-bottom: 16px;

  @media only screen and (max-width: $tabletBig) {
    font-size: 36px;
    line-height: 43px;
  }

  @media only screen and (max-width: $tabletBig) {
    font-size: 24px;
    line-height: 28px;
  }
}

.cow-text {
  color: $darkBlue;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.8px;
  margin-bottom: 64px;

  @media only screen and (max-width: $tabletBig) {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.67px;
  }
}

.cow-button {
  display: flex;
  justify-content: center;
}