@use '../../styles/Colors' as *;
@use '../../styles/Breakpoints' as *;
@use '../../index.scss' as *;

.licensing-table-wrapper {
  // margin-bottom: 127px; // review !
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 0px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 48px;
  };
}

.licensing-table-head thead, .licensing-table-body tbody {
  padding: 0px 32px;
}

.licensing-table-head th {
  @extend .body1;
  text-align: center;
  text-transform: uppercase;
  color: $primary;
  font-weight: normal;
}

.licensing-table-body td {
  @extend .body1;
  text-align: center;
  color: $primary-dark;
  border-right: 1px solid $lightGrey;
  &:last-child {
    border-right: unset;
  }
}

td .licensing-checkmark {
  text-align: center;
}

.licensing-table-left {
  text-align: left;
  padding-left: 32px;
}

.licensing-table-subheadline {
  text-transform: uppercase;
  padding: 0px 32px;
  width: 100%;
  color: $primary;
  text-align: left;
}

.licensing-overview-headline {
  @media only screen and (max-width: $tabletBig) {
    margin: 0px 10.5px 32px 10.5px;
    // font-size: 24px;
    // line-height: 30px;
    // letter-spacing: 0.8px;
    text-align: center;
  };
  @media only screen and (max-width: $mobile) {
    margin: 48px 10.5px 16px 10.5px;
    // font-size: 20px;
    // letter-spacing: 0.67px;
    text-align: center;
  };
}

.licensing-overview-content {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 32px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 0px;
  };
}

.licensing-overview-content-box {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 32px;
  };
  @media only screen and (max-width: $mobile) {
    margin-bottom: 16px;
  };
}

.licensing-table-row-heading {
background-color: $secondary-light;
}

.licensing-overview-content-headline {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 4px;
  };
}

.licensing-overview-content-text {
  @media only screen and (max-width: $tabletBig) {
    margin-bottom: 4px;
  };
}