@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.navbar-navbar-container {
  background-color: $navyBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $tabletBig) {
    height: 70px;
  }
}

.navbar-navbar-wrapper {
  width: 1180px;
  padding: 3px 20px 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: $xl) {
    width: 100%;
    padding: 16px 32px 0 32px;
    height: 100%;
    margin: 0;
  };
  @media only screen and (max-width: $mobile) {
    padding: 16px 24px 0 24px;
  };
}

img.navbar-logo-style {
  margin-top: 24px;
  width: 150px;
  @media only screen and (max-width: $tabletBig) {
    width: 100px;
    margin: 0;
  }
}

.navbar-nav-links-container {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  @media only screen and (max-width: $tabletBig) {
    display: none;
    margin: 0;
  }
}

.navbar-nav-link {
  text-transform: uppercase;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  color: $white;
  font-weight: bold;
  margin-bottom: 2px;
  &:hover, &:focus {
    border-bottom: 2px solid $turkis;
    margin-bottom: 0px;
  }
  &:last-child {
    border: 2px solid $white;
    padding: 15px 20px;
    margin: 0;
    cursor: pointer;
    &:hover, &:active {
      border: 2px solid $turkis;
    }
  }
}

.navbar-menu-container {
  display: none;
  @media only screen and (max-width: $tabletBig) {
    display: block;
  }
}

.navbar-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $darkBlue;
  overflow-x: hidden;
  transition: 0.5s;
}

.navbar-overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 3px 24px 0 32px;
  @media only screen and (max-width: $mobile) {
    margin-left: 24px;
  }
}

.navbar-close-btn {
  padding: 24px;
}

.navbar-nav-links-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  a.navbar-nav-link {
    text-align: center;
    padding: 32px 0;
    &:active, &:hover {
      color: $turkis;
      border-bottom: none;
    };
    &:last-child {
      border: 2px solid $white;
      padding: 15px 20px;
      margin-top: 32px;
    };
  };
}


