@import '../styles/Colors';

.button-container {
  height: 48px;	
  width: 217px;
  border-radius: 3px;
  margin-top: 64px;
  background-color: $turkis;
  box-shadow: 0 20px 40px 0 rgba(90,90,90,0.24);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  max-width: 177px;
  padding: 0 20px;
  @media only screen and (max-width: 450px) {
    margin: 32px 0;
  }
}

.button-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-right: 16px;
}

.arrow-style {
  width: 20px;
}