@import '../styles/Colors';

.navbar-container {
  background-color: $navyBlue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid red;
  @media only screen and (max-width: 900px) {
    height: 70px;
  }
}

.navbar-wrapper {
  // border: 2px solid green;
  width: 1100px;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 900px) {
    width: 100%;
    padding: 0 24px;
    height: 100%;
  }
}

img.logo-style {
  // border: 2px solid blue;
  margin-top: 24px;
  width: 150px;
  @media only screen and (max-width: 900px) {
    width: 100px;
    margin: 0;
  }
}

.nav-links-container {
  // border: 2px solid purple;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

a.nav-link {
  text-transform: uppercase;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  color: $white;
  font-weight: bold;
  &:active, &:hover {
    border-bottom: 2px solid $turkis;
  }
  &:last-child {
    border: 2px solid $white;
    padding: 15px 20px;
    margin: 0;
  }
}

.menu-container {
  display: none;
  @media only screen and (max-width: 900px) {
    display: block;
  }
}
