@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.tilesimple-flx-row {
  max-width: 100% !important;
}

.tilesimple-flx-container-left-control {
  background: linear-gradient(90deg, $flxTileControl 50%, $white 50%);
  @media only screen and (max-width: $tabletBig) {
    background: unset;
    background-color: $flxTileControl;
  };
}


.tilesimple-flx-container-right-variables {
  background: linear-gradient(90deg, $white 50%, $flxTileVariables 50%);
  @media only screen and (max-width: $tabletBig) {
    background: unset;
    background-color: $flxTileVariables;
  };
}

.tilesimple-flx-container-left-kibana {
  background: linear-gradient(90deg, $flxTileKibana 50%, $white 50%);
  @media only screen and (max-width: $tabletBig) {
    background: unset;
    background-color: $flxTileKibana;
  };
}


.tilesimple-icon-wrapper-left {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $tabletBig) {
    background-color: $navyBlue;
  }
}

.tilesimple-icon-wrapper-right {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $tabletBig) {
    background-color: $grey;
  }
}

img.tilesimple-flx-icon-style-right {
  max-height: 320px;
  height: 40vw;
  margin: 116px 0px;
  @media only screen and (max-width: $tabletBig) {
    max-height: 285px;
    margin: 64px 0px;
    width: 100%;
  };
  @media only screen and (max-width: $mobile) {
    max-height: 170px;
    margin: 32px 0px;
  };
}

img.tilesimple-flx-icon-style-left {
  max-height: 320px;
  height: 40vw;
  margin: 116px 0px;
  @media only screen and (max-width: $tabletBig) {
    max-height: 285px;
    margin: 64px 0px;
    width: 100%;
  };
  @media only screen and (max-width: $mobile) {
    max-height: 170px;
    margin: 32px 0px;
  };
}

.tilesimple-flx-content-wrapper-left {
  padding-top: 128px;
  padding-left: 135px;
  padding-right: 230px;
  @media only screen and (max-width: $xl) {
    padding-left: 50px;
    padding-right: 0px;

  };
  @media only screen and (max-width: $mobile) {
    padding-left: 0px;
  };
}

.tilesimple-flx-content-wrapper-right {
  padding-top: 128px;
  padding-right: 135px;
  padding-left: 230px;
  text-align: right;
  @media only screen and (max-width: $xl) {
    padding-left: 0px;
    padding-right: 50px;
  };
  @media only screen and (max-width: $mobile) {
    padding: 0px 0px 0px 0px;
  };
}

.tilesimple-headline {
  color: $white;
  margin-bottom: 32px;
  margin-top: 0px;
  @media only screen and (max-width: $mobile) {
    font-size: 24px;
    line-height: 28px;
  };
}

.tilesimple-text {
  color: $white;
  margin-bottom: 24px;
  text-align: left;
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 24px;
  };
}

.tilesimple-flx-readmore {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}