@import '../src/styles/Colors.scss';
@import '../src/styles/Breakpoints.scss';

::selection {
  background-color: $turkisActive;
  color: $white;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

@mixin fonts{
  color: var(--Text-Primary, rgba(0, 0, 0, 0.87));
  font-feature-settings: 'clig' off, 'liga' off;
}

@mixin font-headlines {
  @include fonts;
  font-style: normal;
  text-transform: uppercase;
}

// HTML Elements
body {
  @include fonts;
  font-family: "Inter-Regular";
}

h1 {
  @include font-headlines;
  font-family: "Parafina-SemiWideXBold";
  font-size: 96px;
  line-height: 80%; /* 76.8px */
  letter-spacing: -1.5px;

}

h2 {
  @include font-headlines;
  font-family: Parafina-SemiWideXBold;
  font-weight: 900;
  font-size: 60px;
  line-height: 80%; /* 48px */
  letter-spacing: -0.5px;
}

h3 {
  @include font-headlines;
  font-family: Parafina-SemiWideXBold;
  font-weight: 900;
  font-size: 48px;
  line-height: 80%; /* 38.4px */
}

h4 {
  @include font-headlines;
  font-family: Parafina-SemiWideXBold;
  font-size: 40px;
  font-weight: 700;
  line-height: 123.5%; /* 49.4px */
  letter-spacing: 0.25px;
}

h5 {
  @include font-headlines;
  font-family: Parafina-SemiWideBold;
  font-size: 28px;
  font-weight: 700;
  line-height: 133.4%; /* 37.352px */
}

h5 {
  @include font-headlines;
  font-family: Parafina-SemiWideBold;
  font-size: 28px;
  font-weight: 700;
  line-height: 133.4%; /* 37.352px */
}

p {
  margin: 0px;
}

button {
  border: none;
}

a {
  cursor: pointer;
}

li a {
  text-decoration: none;
}

iframe {
  border: none;
}

// Core Components

.container, .row, .container .row {
  width: inherit;
  margin: 0px auto;
}

div.row {
  max-width: 1180px;
  margin-bottom: 0px;
}

.row .col {
  padding: 0px 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.subtitle {
  @include fonts;
  font-family: "Inter-Medium";
  font-size: 16px;
  font-weight: 700;
  line-height: 175%; /* 28px */
  letter-spacing: 0.15px;
}

.hidden {
  display: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }
.material-icons  { color: $turkisActive }