@import '../src/styles/Colors.scss';
@import '../src/styles/Breakpoints.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body, h1, h2 {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0px;
}

.container, .row, .container .row {
  width: inherit;
  margin: 0px auto;
}

div.row {
  max-width: 1180px;
  margin-bottom: 0px;
}

.row .col {
  padding: 0px 20px;
  margin-left: 0px;
  margin-right: 0px;
}

li a {
  text-decoration: none;
}

.hidden {
  display: none;
}

// custom grid
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.custom-row {
  max-width: 1180px;
  margin: 0 auto;
  display: inline-block;
  // flex-wrap: wrap;

  @include clearfix;

  [class^='col-'] {
    float: left;
  }
}
  
// .col-1-of-3 {
//   width: calc(100% / 3);
//   display: inline-block;
//   @media only screen and (max-width: $tabletBig) {
//     width: 100%;
//   }
// }

// * {
//   background-color: rgba(255, 0, 0, .2);
// }

// * * {
//   background-color: rgba(0, 255, 0, .2);
// }

// * * * {
//   background-color: rgba(0, 0, 255, .2);
// }

// * * * * {
//   background-color: rgba(255, 0, 255, .2);
// }

// * * * * * {
//   background-color: rgba(0, 255, 255, .2);
// }

// * * * * * * {
//   background-color: rgba(255, 255, 0, .2);
// }

// * * * * * * * {
//   background-color: rgba(255, 0, 0, .2);
// }

// * * * * * * * * {
//   background-color: rgba(0, 255, 0, .2);
// }

// * * * * * * * * * {
//   background-color: rgba(0, 0, 255, .2);
// }