@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.licensing-landing-wrapper {
  padding: 128px 0px;
  background-color: $navyBlue;
  @media only screen and (max-width: $tabletBig) {
    padding: 64px 32px;
  }
  @media only screen and (max-width: $mobile) {
    padding: 32px 24px;
  }
}

.licensing-landing-headline {
  margin-bottom: 32px;
  color: $white;
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
  text-align: center;
  @media only screen and (max-width: $tabletBig) {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 32px;
  }
  @media only screen and (max-width: $mobile) {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
  }
}

.licensing-landing-subheadline {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.8px;
    font-weight: 300;
    color: $white;
    @media only screen and (max-width: $mobile) {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.67px;
    }
}